.header {
   text-align: center;
   font-size: 70px;
   padding: 30px;
}

.nav {
   font-weight: bold;
}

.col-md-5 {
   font-size: 40px;
   padding: 25px;
}

.col-md-4 {
   font-size: 20px;
   padding: 20px;
}
